/* slider */

.slider {
    margin: 50px auto;
    width: 50%;
}
/* .img-box img {
    width: 100%;
} */
.btn1{
    width: 30px;
    border: none;
    outline: none;
    background: lightblue;
    padding: 10px 30px;
    font-size: 20px;
    color: midnightblue;
    cursor: pointer;
    margin: 0 auto;
    top: 50%;
    left: 20px;
    border-radius: 20%;
    position: absolute;
    
}

.btn1:hover{
    background: rgb(222, 198, 60) ;
}
.btn2{
    width: 30px;
    border: none;
    outline: none;
    background: lightblue;
    padding: 10px 30px;
    font-size: 20px;
    color: midnightblue;
    cursor: pointer;
    margin: 10px auto;
    top: 50%;
    right: 20px;
    border-radius: 20%;
    position: absolute;
}
.btn2:hover{
    background: rgb(222, 198, 60) ;
}
.play-forward-outline {
    font-size: 70px;
}
.nav-1unit {
    width: 100%;
    height: 70px;
    background-color: midnightblue;
    position: relative;
}
.nav-1unit-ul {
    display: flex;
    position: absolute;
    padding: 30px;
    top: 60;
}
.nav-1unit-ul li{
    /* padding-right:20px ; */
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.nav-1unit-ul span {
color:white;
font-size: 20px;
margin: 0 10px;

}

.nav-1unit a {
color:white;
font-size: 20px;


}
.slider-img {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}
.img-box {
    position: relative;
}

/* k5 */

.unit-list h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Murecho", sans-serif;
    font-weight: 800;
    margin-left: 20px;
}
.unit-list h2:hover {
   color: midnightblue;
    opacity: 0.5;
}
.murecho {
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  .unit-list p{
    font-family: "Murecho", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin-left: 20px;
    
  }

  .unit-list h3{
    
    font-size: 20px;
    font-family: "Murecho", sans-serif;
    font-weight: 400;
    margin: 20px;
    border-bottom: 2px solid black ;
    transition:  0.2s ease;
    width: 200px;

}
.iframes {
    height: 500px;
    margin-top: 20px;
    margin-left: 10%;
   
}

/* HY-806 */


.third-pic {
    height: 500px;
    max-width: 700px;
    width: 80%;
    background-image:url(../images/7.3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   margin: 50px;
}
.third-pic:hover {
    max-width: 700px;
    width: 80%;
    background-image: url(../images/7.1);
    background-repeat: no-repeat;
    background-size: cover;
   margin: 50px;
    
}

.unit-h2 {
    margin-top: 20px;
}

/* ama30 */
.slider-sld {
    max-width: 700px;
    width: 80px;
}