.off-screen-menu {
    background-color: rgb(106, 104, 104) ;
    width: 100%;
    /* opacity:0.5; */
    height: 100vh;
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 70px;
    right: -500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center;
    text-align: center; */
    font-size: 3rem;
    transition: 0.3s ease;
    z-index: 200;
    
}

.off-screen-menu.active {
    right: 0;
    position: fixed;
    z-index: 200;
}
nav {
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: white;
    position: fixed;
    /* z-index: 200; */
    /* background-image: url(../images/2222.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    */
   
    /* position: relative; */

    
}
.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    
   
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(68, 37, 206);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1){
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}
.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
    opacity: 0;
}
.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
li{color: azure;}
.icon {
    width: 100px;
    height: 50px;
}


.accordion-container {
    max-width: 600px;
    width: 100%;
    margin-left: 50px;
}
.container {
    border-bottom: 2px solid rgb(68, 37, 206);
    margin-bottom: 30px;
    position: relative;
    padding: 20px;
}
.accordion-title::after {
    
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-solid);
        content: '\f0d7';
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    
}
.container a{
    color: white;
}

.acordion-text {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}
.container.active .acordion-text {
    height: 100%;
}
.container.active .accordion-title::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: '\f0d8';}


  .teeth{
    color: rgb(68, 37, 206);
    font-size: 50px;
    position: absolute;
    top: 40px;
    left: 40px;
    transform: translate(-50%,-50%);
    z-index: 20;
    position: fixed;
    
}

.icon-h2 {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 150px;
    transform: translate(-50%,-50%);
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      z-index: 21;
      position: fixed;
      
} 

/* header end */
.secondpart-img {
    top: 100px;
    max-width: 100%;
    height: 500px;
    background-image: url(../images/6.jpg);
    background-repeat:no-repeat ;
    background-position: 50%;
    background-size: cover;
    /* opacity: 0.5; */
    /* position: relative; */
    margin-bottom: 200px;
}
   
.section-p{
    color: rgb(68, 37, 206);
    font-size: 20px;
    font-family: "Noto Serif", serif;
    font-optical-sizing:auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
     }
.dentl-chairtext1 {
    position: absolute;
    top: 50%;
    right: 70px;
   
}
.dentl-chairtext2 {
    position: absolute;
    top: 150px;
    left: 70px;
    
}
.dentl-chairtext3 {
    position: absolute;
    bottom: 120px;
    left: 70px;
    /* z-index: 1; */
}
    

.fx {
    
    width: 100%;
}
.fx h2 {
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}
.dental-parts {
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.dental-parts img {
    width: 200px;
    height: 200px;
    border-radius: 50% ;
    border: 1px solid rgb(68, 37, 206);
    
}


.home a {
    color: white;
}


.free {
    
    height: 150px;}


/* dentalunit page */

.img-container1{
    top: 250px;
    display: flex;
    margin: 30px;
    
   
}
.img-container{
    max-width: 350px;
    width: 100%;
    height: 300px;
    justify-content: center;
    margin-left: 50px;
 
 }
 .img-container:hover{
        border:3px solid rgb(68, 37, 206);
        border-radius: 25px;
        transition-duration: 0.4s;
        border-radius: 25px; 
    
    }


.img-container1 img {
    margin-left: 30px;
    padding: 10px 30;
}
.img-container1 h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Murecho", sans-serif;
    font-weight: 600;
}
.img-container1 a {
    margin-left: 40%;
    color: black;
    font-family: "Murecho", sans-serif;

}
.img-container1 a:hover {
    font-size: 30px;
    color:rgb(68, 37, 206);
    margin-left: 35%;
    margin-top: 20px;
}

.murecho {
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

 



  .slid {
    height: 600px;
    top: 100px;
    position: relative;
}
.slid .list .item {
    position: absolute; 
     inset: 0 0 0 0;
     overflow: hidden; 
     opacity: 0;
    transition: .5s; 
}
.slid .list .item  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.slid .list .item  img::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 40%, trasparent);
}
.slid .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slid .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 25px;

}
.slid .list .item .content h2{
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}
.slid .list .item.active {
    opacity: 1;
    z-index: 10;

}
@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slid 
.slid .list .item.active p:nth-child(1),
.slid .list .item.active h2,
.slid .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    opacity: 0;
    filter: blur(20px);
    animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.slid .list .item.active h2{
   animation-delay: 1s;
}
.slid .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrow1 {
    position: absolute;
    top: 50%;
    right: 50px;
    z-index: 100;

}
.arrow1 button {
    background-color: gray;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;

}
.arrow1 button:hover {
    background-color: #eee;
    color: #000;
}

.thumbnail {
    position: absolute;
    bottom: -70px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .items {
    width: 150px;
    height: 150px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .items img {
    width: 100%;
    height: 100%;
     object-fit: cover;
   
}
.thumbnail .items .content {
    position: absolute;
    inset: auto 10px 10px 10px;
    
} 
/* @media screen and (max-width: 675px){
.thumbnail {
    justify-content: start;
}

.slid.list .item .content{
    font-size: 60px;
}
.arrow1{
    top: 10%;
}



} */

/* login */





