.off-screen-menu {
    background-color: black ;
    width: 100%;
    opacity:0.5;
    height: 100vh;
    width: 100%;
    max-width: 1025px;
    position: fixed;
    top: 70px;
    right: -1025px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center;
    text-align: center; */
    font-size: 3rem;
    transition: 0.3s ease;
    
}

.off-screen-menu.active {
    right: 0;
}
nav {
    padding: 1rem;
    display: flex;
    background-color:rgb(18, 18, 18); 

    
}
.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
   
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: goldenrod;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1){
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}
.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
    opacity: 0;
}
.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
li{color: azure;}
.icon {
    width: 100px;
    height: 100px;
}
/* .accordion-title,
.nav-div {
    border-bottom: 2px solid white;
} */

.accordion-container {
    max-width: 600px;
    width: 100%;
    margin-left: 50px;
}
.container {
    border-bottom: 2px solid goldenrod;
    margin-bottom: 30px;
    position: relative;
    padding: 20px;
}
.accordion-title::after {
    
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-solid);
        content: '\f0d7';
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    
}

.acordion-text {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}
.container.active .acordion-text {
    height: 100%;
}
.container.active .accordion-title::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: '\f0d8';}


  .teeth{
    color: goldenrod;
    font-size: 40px;
    position: absolute;
    top: 40px;
    left: 40px;
    transform: translate(-50%,-50%);
    transition: 0.3s ease;
}
.icon-h2 {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%,-50%);
} 
.one:hover .dropbtn {background-color: #3e8e41;}
   
